<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">Milena Majczak</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">

                <li>
                    <a class="page-scroll" href="#why">Why Me</a>
                </li>
<!--
                <li>
                    <a class="page-scroll" href="#portfolio">Portfolio</a>
                </li>
-->

                <li>
                    <a class="page-scroll" href="#contact">Contact</a>
                </li>
                <li>
                    <a href="blog/">Blog</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>



<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <div class="header-content">
                    <div class="header-content-inner">
						<h1>Integrated marketing communications strategist</h1>
                        <h4>As a communications consultant, I help companies to create powerful strategies and emotionally authentic narratives that inspire and make transformational change.</h4>
                        <a href="#why" class="btn btn-outline btn-xl page-scroll">Find More</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="device-container">
                    <div class="device-mockup iphone6_plus portrait white">
                        <div class="device">

                            <div class="button">
                                <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>


<section id="why">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Why Me</h2>
                <hr class="primary">
                <br />
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Content Marketing </h3>
                    <p class="text-muted">Driving website traffic and brand image through content and captivating stories.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Social Media</h3>
                    <p class="text-muted">Helping businesses to generate return from their social media activity through meaningful content and performance marketing tactics</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Change Management</h3>
                    <p class="text-muted">Crafting communication strategies that enable change process
Copywriting</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-laptop wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Copywriting</h3>
                    <p class="text-muted">Writing persuasive copy that helps businesses increase their sales leads and brand visibility</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-globe wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Branding</h3>
                    <p class="text-muted">I formulate branding strategies to engage custormers</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-envelope wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Communications</h3>
                    <p class="text-muted">Create communications strategy to drive engagement in web and mobile platforms</p>
                </div>
            </div>
        </div>
    </div>
</section>



  {% include contact.html %}
  {% include scripts.html %}
</body>

</html>
